body {
  font-family: RobotoThin;
}

.header {
  margin-top: 1%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-logo {
  color: inherit;
  text-decoration: inherit;
  font-size: 2.1em;
  margin-left: 2%;
}

.header-separator {
  width: 95%;
  border: none;
  height: 2px;
  margin-top: .5%;
  background-color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(209, 207, 207);
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}

.navbar-link {
  display: flex;
  margin-left: 2%;
  color: inherit;
  text-decoration: inherit;
}

.login-form-container {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: solid;
  border-width: .05em;
  padding: 4rem 0px;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.login-form-container p {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.main-container {
  display: flex;
  margin: 5%;
  border-style: solid;
  border-width: 1px;
}

.category-container {
  /* flex-grow: 1; */
}

.card-container {
  flex-grow: 1;
}

.game-container {
  margin: 5%;
  border: solid;
  border-width: .05em;
}

.timer {
  border: solid;
  border-width: .05em;
}