body {
  font-family: RobotoThin;
  background-color: rgb(255, 253, 240);
}

.header {
  margin-top: 4%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-logo {
  color: inherit;
  text-decoration: inherit;
  font-size: 2.1em;
  margin-left: 2%;
}

.header-separator {
  width: 95%;
  border: none;
  height: 2px;
  margin-top: .5%;
  background-color: black;
}

.footer {
  position: fixed;
  font-size: .9em;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(59, 97, 180);
  color: white;
  text-align: center;
}

.navbar {
  display: flex;
  margin-left: 2%;
  justify-content: space-between;
}

.navbar-links {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}

.welcome-message {
  flex: 0 1 auto;
  margin-right: 3.5rem;
}

.navbar-link {
  flex: 0 0 auto;
  display: flex;
  margin-left: 2%;
  color: inherit;
  text-decoration: inherit;
  margin-left: 1rem;
  margin-right: 2rem;
}

.navbar-link:hover {
  color: rgb(34, 95, 228);
  cursor: pointer;
}

.login-form-container {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: solid;
  border-width: .05em;
  padding: 4rem 0px;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.login-form-container input {
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-width: 1px;
  padding: .2rem .1rem;
}

.login-form-container p {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.login-form-container button {
  margin-top: .5rem;
  padding: .5rem 0;
  font-family: RobotoThin;
  color: white;
  background-color:rgb(59, 97, 180);
}

.login-form-container button:hover {
  font-family: RobotoThin;
  color: white;
  background-color:rgb(37, 66, 128);
}

.main-container {
  display: flex;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;
  max-width: 900px;
  width: 95%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.219);
  padding: 10px;
}

.category-container {
  flex: 0 0 30%;
  margin-right: 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.219);
  padding: 10px;
  font-family: RobotoThin;
  font-size: 15px;
}

.ccc{
  font-family: RobotoThin;
}

.card-container {
  flex-grow: 1;
  max-width: 70%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.219);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  overflow-y: auto;
}

.card-container .ui.button {
  max-height: 2.5em;
  white-space: nowrap;
}

.card-container::-webkit-scrollbar {
  width: .65rem;
}

.card-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.219);
  outline: 1px solid black;
}

.card-container-top {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.card-container-top-top {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  margin-top: .5rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.cctt{
  font-family: RobotoThin;
  margin: 0;
}

.card-container-top-center {
  flex: 0 1 auto;
  display: flex;
}

.card-container-top-bottom {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  margin-bottom: 3rem;
}

.card-container-top-bottom > * {
  flex: 0 1 auto;
  white-space: nowrap;
}

.card-container .ui.search {
  width: 50%;
  margin-bottom: 1rem;
}

.ui.search :first-child {
  width: 100%;
}

.card-container-bottom {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex: 1 0 auto;
}

.card-container-bottom > * {
  flex: 0 0 50%;
  display: inline-block;
  max-width: 50%;
}

.flash-card {
  padding: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.flash-card-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.flash-card-buttons > * {
  flex: 1 0 50%;
}
.flip-card {
  flex: 1 0 100%;
  background-color: transparent;
  width: 100%;
  height: 10rem;
  perspective: 1000px;
  margin-bottom: .5rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  vertical-align: middle;
  padding-top: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  word-wrap: break-word;
  overflow: auto;
}

.flip-card-front {
  color: black;
  background-color: rgb(254, 254, 254);
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  background-color: rgb(155, 150, 139);
}

.category-container {
  flex: 0 0 35%;
  flex-direction: column;
  display: flex;
  margin-right: 1rem;
  border-style: solid;
  border-width: 1px;
  padding: 1rem;
  overflow-y: auto;
}

.category-container::-webkit-scrollbar {
  width: .65rem;
}

.category-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.219);
  outline: 1px solid black;
}

.category-container-top h1 {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.category-container-top .ui.search {
  margin-bottom: 1rem;
}

.category-container-top-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 0 auto;
  margin-bottom: 2rem;
}

.category-container-top-buttons > * {
  white-space: nowrap;
  width: 100%;
}

.category {
  display: flex;
  flex-direction: column;
}

.category > * {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.219);
  color: black;
  font-size: 1.3em;
  border-width: 1px;
  border-radius: 5px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  padding-left: 1rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
  background-color: rgb(254, 254, 254);
}

.category > *:hover {
  color: white;
  background-color: rgb(155, 150, 139);
}

.fav-list {
  flex-direction: column;
  display: flex;
  margin-right: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.219);
  padding: 1rem;
  overflow-y: auto;
  flex-basis: 100%;
  flex-grow: 1;
}

.fav-list::-webkit-scrollbar {
  width: .65rem;
}

.fav-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.219);
  outline: 1px solid black;
}

.fav-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fav-list-container > div {
  flex: 0 0 50%;
  display: inline-block;
  max-width: 50%;
}

.game-container {
  flex: 1 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.game-container-left-section {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.game-container-left-section * {
  font-family: RobotoThin;
  flex: 0 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.timer {
  border: solid;
  border-width: .05em;
  border-color: rgba(0, 0, 0, 0.219);
  background-color: rgb(254, 254, 254);
}

.timer h3 {
  text-align: center;
}

.game-stats {
  flex-grow: 1;
  border: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.219);
  background-color: rgb(254, 254, 254);
}

.game-stats h3 {
  text-align: center;
}

.game-stats h1 {
  text-align: center;
  font-size: 4em;
}

.game-container-right-section {
  flex: 1 0 auto;
  overflow-y: auto;
}

.game-container-right-section::-webkit-scrollbar {
  width: .65rem;
}

.game-container-right-section::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.219);
  outline: 1px solid black;
}

.game-container-right-section-session {
  flex: 0 0 auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

.game-buttons {
  margin-left: 5.6rem;
}

.ui.card {
  border: solid;
  border-width: 1px;
}

.select-category-holder {
  align-self: center;
  margin: 0 auto;
  font-size: 1.5em;
}

.new-card-form {
  max-width: 100%;
  flex-basis: 100%;
}

.new-card-form-content .ui.button {
  margin-top: 1.8rem;

}

.ui.button {
  font-family: RobotoThin;
  color: white;
  background-color:rgb(59, 97, 180);
}

.ui.button:hover {
  font-family: RobotoThin;
  color: white;
  background-color:rgb(37, 66, 128);
}

.ui.button:focus{
  font-family: RobotoThin;
  color: white;
  background-color:rgb(37, 66, 128);
}

#delete-button, #wrong-button {
  background-color: rgb(173, 96, 96);
}

#delete-button:hover, #wrong-button:hover {
  background-color: rgb(131, 42, 42);
}

#delete-button:focus, #wrong-button:focus {
  background-color: rgb(131, 42, 42);
}

#skip-button {
  background-color: rgb(204, 185, 77);
}

#skip-button:hover {
  background-color: rgb(150, 135, 54);
}

#skip-button:focus {
  background-color: rgb(150, 135, 54);
}

.card-review-title {
  font-family: RobotoThin;
  padding: 1rem 0px;
  color: white;
  background-color: rgb(150, 135, 54);
}